<div class="container card p-5 m-2 shadow">
    <h1>Admin Dashboard</h1>
    <div class="p-2 d-grid gap-2 col-6 mx-auto">
        <a href="/members" class="btn btn-secondary pink-btn" type="button">Members</a>
        <a href="/games" class="btn btn-secondary pink-btn" type="button">Games</a>
        <a class="btn btn-secondary pink-btn" type="button">Events</a>
        <a class="btn btn-secondary pink-btn" type="button">Funds</a>
    </div>
</div>