<div class="container card p-5 m-2 shadow">
    <h1>Contact Us</h1>

    <div class="row p-3">
        <div class="col-md-4">
            <p class="text-center">Feel free to get in touch with us using any of the following platforms.</p>
            <div class="d-grid gap-2 col-8 mx-auto p-2">
                <a href="https://www.uusu.org/get_involved/societies/join/12329/" class="btn btn-secondary pink-btn shadow"><i data-feather="user-plus"></i> Sign up here</a>
                <a href="https://www.instagram.com/uusudnd/" class="btn btn-secondary pink-btn shadow"><i data-feather="instagram"></i> Follow our Instagram</a>
                <a href="https://www.facebook.com/UUSUDND" class="btn btn-secondary pink-btn shadow"><i data-feather="facebook"></i> Follow our Facebook</a>
                <a href="mailto:uusudnd@gmail.com" class="btn btn-secondary pink-btn shadow"><i data-feather="mail"></i> Email us</a>
            </div>
        </div>
        <div class="container col-md-8 d-flex flex-row-reverse">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1155.48103563125!2d-5.930045637078626!3d54.60466079501353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4861084ca01b3ccd%3A0xf36a06a9666eabcc!2sUlster%20University!5e0!3m2!1sen!2suk!4v1713727921342!5m2!1sen!2suk"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>