<div class="container card p-5 m-2 shadow">
    <h1>Welcome to UUSUDND!</h1>
    <p class="p-2">Welcome to Ulster University's biggest tabletop RPG society. We run D&amp;D events throughout the year so join us for some awesome adventures through roleplay and boss battles. Let the dice decide your fate!</p>

    <div class="row">
        <div class="col-8 container">
            <h2>Upcoming Events</h2>
            <div>

            </div>
        </div>
        <div class="col-4">

            <div class="container card alert info-card shadow">
                <div class="card-body">
                    <h5 class="card-title">Open Games</h5>
                    <p class="card-text">View our list of groups who are looking for players!</p>
                    <a href="#" class="btn btn-secondary">See Groups <i data-feather="arrow-right"></i></a>
                </div>
            </div>
            <div class="container card alert info-card shadow">
                <div class="card-body">
                    <h5 class="card-title">Contact</h5>
                    <p class="card-text">View our contact info and where to find us!</p>
                    <a href="#" class="btn btn-secondary">Get in touch <i data-feather="arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    
</div>

