<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <title>{{title}}</title>
  </head>
  <body>
    <nav class="navbar bg-dark shadow" data-bs-theme="dark">
      <div class="container-fluid">
        <a href="/">
          <img src="/images/logo.jpg" alt="Logo" height="100" class="rounded shadow">
        </a>
        <a class="navbar-brand glow lilita-one-regular">
          <h1>UUSU Dungeons &amp; Dragons</h1>
        </a>
        <button class="btn btn-secondary">
          <i data-feather="user"></i> Admin
        </button>
      </div>
    </nav>
    <div class="container">
      {{{body}}}
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary shadow">

      <!-- Section: Links  -->
      <section class="p-3 bg-dark text-light">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

              <h6 class="text-uppercase fw-bold mb-4">
                UUSU Dungeons &amp; Dragons Society
              </h6>
              <p>
                Ulster University's biggest table top RPG society
              </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Useful links
              </h6>
              <p>
                <a href="https://www.uusu.org/get_involved/societies/join/12329/" class="text-reset">UUSU Website</a>
              </p>
              <p>
                <a href="https://www.ulster.ac.uk/" class="text-reset">Ulster University</a>
              </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i data-feather="home"></i> 2-24 York Street, Belfast, BT15 1AP</p>
              <p><a href="mailto:uusudnd@gmail.com" class="text-reset">
                  <i data-feather="mail"></i> uusudnd@gmail.com
                </a></p>
              <p><a href="https://www.instagram.com/uusudnd/" class="text-reset">
                  <i data-feather="instagram"></i> @uusudnd
                </a></p>
              <p><a href="https://www.facebook.com/UUSUDND/" class="text-reset">
                <i data-feather="facebook"></i> UUSU Dungeons &amp; Dragons Society
              </a></p>
            
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4 bg-secondary text-light">
        © 2024 Copyright:
        <a class="text-reset fw-bold" href="https://www.uusu.org/get_involved/societies/join/12329/">UUSUDND</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
  </body>
    
</html>
